* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}


#container {
  width: 100%;
}

#books {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 30px auto 0px;
  font-size: 14px;
  justify-content: space-between;
  /* position: relative; */
}

.side-info {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

}

.side-info {
  padding: 0;
  margin: 0 0 10px;
  font-family: 'Oleo Script', cursive;
  color: #f51821a6;

}

.side-info p {
  margin-left: 1.5rem;

}

.book {
  width: 49%;
  height: 300px;
  background: #DCDCDC;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: 0 1px rgba(0,0,0,.05);
  margin-bottom: 10px;
  display: none;
  /* position: absolute; */
}

/* .book1 { */
    /* background: red;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    box-shadow: 0 1px rgba(0,0,0,.05);
    margin-bottom: 15px;
    display: none; */
    /* position: absolute; */
/* } */

/* .book2 { */
    /* background: blue;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    box-shadow: 0 1px rgba(0,0,0,.05);
    margin-bottom: 15px;
    display: none; */
    /* position: absolute; */
/* } */


body {
 background: 	#DCDCDC;
}

h1 {  
  display: block;
  font-family: 'Oleo Script', cursive;
  font-size: 40px;
  color: #00aeff;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image {
  /* height: 225px; */
  /* width: 442px; */
  height: 100%;
  width: 50%;
  object-fit: cover;
}



#content {
  /* display: flex; */
  /* justify-content: center; */
  font-family: Noto Sans,sans-serif;
}

#search-bar {
  position:relative ;
   display: flex;
  /* justify-content: center; */
  align-items: center; 
  margin: 10px auto;
  width: 406px;
  height: 40px;
}

#search-btn {
  margin: 20px;
  align-items: flex-start;
  cursor: pointer;
  color: #fff;
  background: #93cb52;
}

#search-btn:hover {
    background: #7ab436;
}

.clear {
  margin-right: 40px;
}


#no-results {
  
}

input {
  display:flex;
  justify-content: center;
  background: rgba(0,0%,100%,.6);
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0,0,0,.05);
    width: 460px;
    height: 40px;
    font-size: 18px;
    color: #424242;
    text-align: center;
    opacity: .8;
    transition: .5s;
}
::-webkit-input-placeholder {
  color: #555555;
}

footer div {
  margin-top: 10rem;
  display: flex;
  height: 3rem;
  display: flex;
  justify-content: center;
  font-family: Noto Sans,sans-serif;
 
}